body {
    font-family: sans-serif;
}

#wrapper {
    margin: 0 auto;
    width: 800px;
}

.header {
    background: #0a9c5c;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    font-weight: 600;
}

 .color-background {
     background: #f1f0f0;
 }

 .main-block {
     display: flex;
 }

 .sidebar {
     min-width: 200px;
     min-height: 500px;
}

 .content{
     padding: 20px 0;
     flex-grow: 2;
 }

p, h1, h2 {
    margin: 0;
}

input {
    margin-left: 20px;
}

.fish-type {
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 0 0 0;
}

.text, h2 {
    padding-left: 20px;
}

.category-block{
    display: flex;
    /*min-height: 100px;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.category-item {
    height: 50px;
    margin-left: 10px;
    flex-grow: 1;
    padding: 8px 10px;
    width: 45%;
}

.category-item p {
    color: #74747e;
}

a {
    color: #1895fa;
}

.popular-container {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-item {
    height: 50px;
    margin: 0 0 10px 10px;
    padding: 8px 10px;
    width: 170px;
}

.picture {
    width: 50px;
    height: 50px;
    background: #c2c2c4;
}

.popular-item div a {
    position: relative;
    left: 60px;
    top: -50px;
}

.popular-item button {
    background: #c2c2c4;
    border: #c2c2c4;
    height: 20px;
    position: relative;
    top: -39px;
    left: 60px;
}