body {
    font-family: sans-serif;
}

.body__theme_dark {
    background: #1b1b1c;
}

p, h1, h2 {
    margin: 0;
}

a {
    color: #1895fa;
}

.page-container {
    width: 100%;
    display: grid;
    grid-template-columns: [col-1] 240px [col-2] 1fr;
    grid-template-rows: [row-1] 50px [row-2] 1fr [row-3] 50px;
    grid-template-areas:
        "header header"
        ". content"
        "footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

/*Заголовок*/

.header {
    grid-area: header;
    background: #0a9c5c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding: 0 10px;
    font-weight: 600;
}

.header__text {
    font-size: 20px;
}

.header__theme_dark {
    background: #063420;
    color: #c2c2c4;
}

.loader {
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #1895fa;
    width: 10px;
    height: 10px;
    animation: spinner 4s linear infinite;
}

.popular__item__theme_default, .sidebar__theme_default, .fish-type__item__theme_default, .footer__theme_default {
    background: #f1f0f0;
}

.popular__item__theme_dark, .sidebar__theme_dark, .fish-type__item__theme_dark, .footer__theme_dark {
    background: #424141;
    color: #c2c2c4;
}

/*Сайдбар*/

input {
    margin-left: 20px;
}

.sidebar__fish-type {
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 0 0 0;
}

.sidebar__checkbox {
    display: block;
}

/*Основной контент*/

 .content{
     grid-area: content;
     padding: 20px 0;
     flex-grow: 2;
 }

.content__text, h2 {
    padding-left: 20px;
}

.content__text__theme_dark, .popular_text__theme_dark {
    color: #c2c2c4;
}

.content__fish-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.fish-type__item {
    height: 50px;
    margin-left: 10px;
    flex-grow: 1;
    padding: 8px 10px;
    width: 45%;
}

.category-item p {
    color: #74747e;
}

.popular {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular__item {
    height: 50px;
    margin: 0 0 10px 10px;
    padding: 8px 10px;
    width: 170px;
}

.popular__item:hover {
    animation: changeColor 5s;
    animation-fill-mode: forwards;
}

@keyframes changeColor {
   to {
       background-color: #063420;
   }
}

.popular__item__picture {
    width: 50px;
    height: 50px;
    background: #c2c2c4;
}

.popular__item__name {
    position: relative;
    left: 60px;
    top: -50px;
}

.popular__item__button {
    background: #c2c2c4;
    border: #c2c2c4;
    height: 20px;
    position: relative;
    top: -39px;
    left: 60px;
}

/*Футер*/

.footer {
    grid-area: footer;
    color:  #74747e;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
}

.footer__copyright {
    text-align: right;
}

.footer__contacts {
    float: left;
}

@media (max-width: 520px) {
    .sidebar {
        display: none;
    }
    .page-container {
        grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    }
}