input {
    margin-left: 20px;
}
.sidebar__fish-type {
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 0 0 0;
}
.sidebar__checkbox {
    display: block;
}
.sidebar__theme_default {
    background: #f1f0f0;
}
