$border-radius: 10px;

.comment {
  width: 220px;
  height: 100px;
  border: 2px solid #e3e3e3;
  border-radius: $border-radius;
  background: #f6f6f6;
  margin-top: 5px;
  padding: 5px;

    .comment_header {
      display: flex;
      justify-content: space-between;

      .owner {
        display: flex;
        align-items: flex-end;
        .owner_info {
          font-size: 10px;
          font-weight: bold;
          margin-left: 5px;
        }
      }

    .publish_date {
      color: #7e7e87;
      font-size: 8px;
      font-weight: bold;
    }
    }

.comment_content {
  margin: 0;
}
}