body {
  font-family: sans-serif;
}
.body__theme_dark {
  background: #1b1b1c;
}
p,
h1,
h2,
body {
  margin: 0;
}
h2 {
  padding-left: 20px;
}
a {
  color: #1895fa;
}
.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [col-1] 240px [col-2] 1fr;
  grid-template-rows: [row-1] 50px [row-2] 1fr [row-3] 50px;
  grid-template-areas: "header header" ". content" "footer footer";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

@media (max-width: 520px) {
  .sidebar {
    display: none;
  }
  .App{
    grid-template-areas: "header header" "content content" "footer footer";
  }
}
